<div class="site-page our-history">
    <section class="title-card">
        <h1 class="font-title1">Our History</h1>
        <div class="back-img">
            <div class="cover c3c2"></div>
        </div>
    </section>
    
    <section class="body-section churchHistory notched-top">
        <h1 class="section-title font-title1">The AME Zion Church</h1>
        <pic-book [pages]="story1" [side]="'right'" [colorclass]="'color3'"></pic-book>
    </section>  

    <section class="body-section localHistory c2-mid notched-top">
        <h1 class="section-title font-title1">Our Local Church</h1>
        <pic-book [pages]="story2" [side]="'left'" [colorclass]="'colorg'"></pic-book>
    </section>  
</div>