<div class="cms-content inner-page calender">
        <div class="cms-container">        
            <h1 class="header-message"><i class="fas fa-calendar-alt"></i> <span>Calender</span></h1>                  

            <div class="calendar-container">
                <div class="calendar-title"><h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3></div>

                <div class="calendar-section">
                    <div [ngSwitch]="view">
                        <mwl-calendar-month-view
                          *ngSwitchCase="'month'"
                          [viewDate]="viewDate"
                          [events]="events"
                          [refresh]="refresh"
                          [activeDayIsOpen]="activeDayIsOpen"                          
                          (dayClicked)="dayClicked($event.day)"
                          (eventClicked)="handleEvent('Clicked', $event.event)"
                          (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-month-view>
                        <mwl-calendar-week-view
                          *ngSwitchCase="'week'"
                            [viewDate]="viewDate"
                            [events]="events"
                            [refresh]="refresh"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-week-view>
                        <mwl-calendar-day-view
                          *ngSwitchCase="'day'"
                          [viewDate]="viewDate"
                          [events]="events"
                          [refresh]="refresh"
                          (eventClicked)="handleEvent('Clicked', $event.event)"
                          (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-day-view>
                    </div>
                </div>
            </div>
        </div>
    </div>