<div class="cms-body">
    <div class="nav-body">
        <div class="nav-header">
            <div class="icon-row"><i class="fas fa-wrench"></i><div class="title">Site Builder</div></div>
        </div>
        <div class="nav-container">
            <div class="user-info">
                <div class="user-txt user-name">{{userInfo.firstname}} {{userInfo.lastname}}</div>
                <div class="user-txt user-title">{{userInfo.title}}</div>
            </div>
            <!-- Navigation Data -->
            <div class="icon-row" *ngFor="let navitem of navData.displayList"><i class="fas {{navitem.icon}}"></i><div class="title">{{navitem.title}}</div></div>            
            
            <span class="nav-divider"></span>
            <div class="icon-row row-type-2" *ngIf="isAdmin()"><i class="fas fa-users"></i><div class="title">Admin Console</div></div>
            <div class="icon-row row-type-2"><i class="fas fa-sliders-h"></i><div class="title">User Settings</div></div>
            <div class="icon-row row-type-2"><i class="fas fa-lock"></i><div class="title">Logout</div></div>
        </div>
    </div>
    <div class="content-body">
        <div class="inside-container"></div>
    </div>
</div>
