<div class="cms-body">
    <div class="nav-body">
        <div class="nav-header">
            <div class="icon-row"><i class="fas fa-wrench"></i><div class="title">Site Manager</div></div>
        </div>
        <!-- Active User -->
        <div class="nav-container active" *ngIf="userInfo != null">
            <div class="user-info">
                <div class="user-txt user-name">{{userInfo.firstname}} {{userInfo.lastname}}</div>
                <div class="user-txt user-title">{{userInfo.title}}</div>
            </div>
            <!-- Navigation Data -->
            <div class="icon-row" *ngFor="let navitem of navData.displayList" (click)="setTemplate(navitem.title)"><i class="fas {{navitem.icon}}"></i><div class="title">{{navitem.title}}</div></div>            
            
            <span class="nav-divider"></span>
            <div class="icon-row row-type-2" *ngIf="isAdmin()"><i class="fas fa-users"></i><div class="title">Admin Console</div></div>
            <div class="icon-row row-type-2"><i class="fas fa-sliders-h"></i><div class="title">User Settings</div></div>
            <div class="icon-row row-type-2" (click)="logOut()"><i class="fas fa-lock"></i><div class="title">Logout</div></div>
        </div>
        <!-- Inactive User -->
        <div class="nav-container inactive" *ngIf="userInfo == null">
            <div class="user-info">
                <div class="user-txt user-name">Please Login</div>
                <div class="user-txt user-title">to access the Clinton AMEZ Site Editor.</div>
            </div>        
            <div [class]="'icon-row row-type-2 ' + isActive('signin')">
                <i class="fas fa-unlock-alt"></i><div class="title">Login</div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="inside-container">            
            <ng-template core-host></ng-template>
        </div>
    </div>
</div>
