/* Material Icons */
@mobile-device: ~"(max-width: 770px)";

/* Fonts */
@font-size: 14px;
@import url('https://fonts.googleapis.com/css?family=Eczar|Inknut+Antiqua|Lora|Playfair+Display+SC|Spectral|Spectral+SC');

/* Colors */
@color1: rgba(230,38,37,1);
.color1(@prop,@val){ @{prop}: rgba(230,38,37,@val) !important; }

@color2: rgba(186,0,1,1);
.color2(@prop,@val){ @{prop}: rgba(186,0,1,@val) !important; }

@color3: rgba(134,54,148,1);
.color3(@prop,@val){ @{prop}: rgba(134,54,148,@val) !important; }

@color4: rgba(30,150,70,1);
.color4(@prop,@val){ @{prop}: rgba(30,150,70,@val) !important; }

@color5: rgba(48,137,201,1);
.color5(@prop,@val){ @{prop}: rgba(48,137,201,@val) !important; }

@color6: rgba(194,146,45,1);
.color6(@prop,@val){ @{prop}: rgba(194,146,45,@val) !important; }

@color7: rgba(251,206,65,1);
.color7(@prop,@val){ @{prop}: rgba(251,206,65,@val) !important; }

@colorb: rgba(230,230,230,1);

.backgroundGradient(@val){ background: linear-gradient(45deg, rgba(134,54,148,@val) 20%,  rgba(230,38,37,@val) 60%, rgba(251,206,65,@val)); }
.backgroundGradient2(@val){ background: linear-gradient(45deg, rgba(114,97,147,@val) 20%,  rgba(227,123,124,@val) 60%, rgba(255,228,180,@val)); }

@notchSize: 50px;
