<div class="footer-body">
    <div class="footer-container">
        <div class="footer-column">
            <div class="column-title">About Clinton</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="footer-column">
            <div class="column-title">Quick Links</div>
            <p><a href="">Ministries</a></p>
            <p><a href="">Inside Zion</a></p>
            <p><a href="">About Clinton</a></p>
            <p><a href="">Get Connected</a></p>
        </div>

        <div class="footer-column">
            <div class="column-title">Service Times</div>
            <p>Sundays 10:00am</p>
        </div>

        <div class="footer-column">
            <div class="column-title">Contact Us</div>
            <p>223 Elizabeth Avenue</p>
            <p class="lrg-margin">Rockville, MD 20850</p>
            
            <p>Phone: (301) 340-7942</p>
            <p>Fax: (301) 825-8938</p>
            <p>Email: camez223@aol.com</p>
        </div>
    </div>
</div>