<div class="cms-content signin">
    <div class="cms-container">
        <form class="signin-form" (ngSubmit)="loginUser()">
            <h1>Please sign in below</h1>
            <!-- Email -->
             <mat-form-field>
                <input matInput placeholder="Enter your email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field>
                <input matInput placeholder="Enter your password" type="text" [(ngModel)]="myPassword">
            </mat-form-field>

            <div class="btn-row">
                <button class="btn" type="submit"><i class="fas fa-unlock-alt"></i><div class="title">Login</div></button>
            </div>            
        </form>
        <p>PWD: {{myPassword}}</p>
    </div>
</div>