<div class="site-page home">
    <section class="main-carousel">
        <ngx-carousel [inputs]="mainCarousel" (carouselLoad)="loadCarousel('home', $event)" class="clinton-carousels home-carousel">
            
            <ngx-item *ngFor="let item of homeCards" NgxCarouselItem>
                <div class="carousel-page" [ngClass]="getPageType(item.type)" [ngSwitch]="item.type"> 
                    <!-- Full Video -->                   
                    <div class="carousel-card" *ngSwitchCase="'full-video'">
                        <div class="video-container">
                            <video class="bg-video" autoplay loop muted><source src="{{item.media}}"></video>
                        </div>
                    </div>    
                    <!-- Card Video -->                    
                    <div class="carousel-card" *ngSwitchCase="'card-video'"></div>

                    <!-- Card Image -->
                    <div class="carousel-card" *ngSwitchDefault>                        
                        <div class="img-container"><img src="{{item.media}}" class="carousel-card-img" alt=""></div>
                        <div class="card-content">
                            <div class="content-title">{{item.title}}</div>
                            <div *ngFor="let line of item.lines" [ngClass]="['content-line', line.size, isBold(line.bold)]" [ngStyle]="{'color':line.color}">{{line.text}}</div>
                        </div>
                    </div>                    
                </div>
            </ngx-item>            

            <div NgxCarouselPrev class="carousel-ctrl prev"><i class="fas fa-chevron-left"></i></div>
            <div NgxCarouselNext class="carousel-ctrl next"><i class="fas fa-chevron-right"></i></div>
        </ngx-carousel>
    </section>

    <!-- Get Connected Section -->
    <section class="getConnected">
        <h1>Get Connected</h1>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <div class="cards-holder">
            <div class="card service">
                <div class="card-container">
                    <div class="card-title">Service Times</div>
                </div>
            </div>
            <div class="card prayer">
                <div class="card-container">
                    <div class="card-title">Prayer Call</div>
                </div>
            </div>
            <div class="card bible">
                <div class="card-container">
                    <div class="card-title">Bible Study</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Ministries Section -->
    <section class="ourMinistries">
        <div class="text-content">
            <h1>Ministries</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
        <div class="ministry-container" id="ministryList">
            <div class="ministry-full-container">
                <div class="ministry-card-container" *ngFor="let card of ministryList">
                    <div class="ministry-card">
                        <img src="{{card.defaultMedia}}" class="card-img">
                        <div class="card-title">{{card.title}}</div>
                    </div>
                </div>

                <!-- All Ministries Card -->
                <div class="ministry-card-container all-ministries">
                    <div class="ministry-card">                        
                        <div class="card-title">View All Of Our Ministries</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controllers -->
        <div class="scroll-ctrl prev" (mouseenter)="scrollActivate(-1, 'ministryList')" (mouseleave)="scrollDeactivate()"><i class="nav fas fa-chevron-left"></i></div>
        <div class="scroll-ctrl next" (mouseenter)="scrollActivate(1, 'ministryList')" (mouseleave)="scrollDeactivate()"><i class="nav fas fa-chevron-right"></i></div>
    </section>

    <!-- Welcome From Our Pastor -->
    <section class="welcome">
        <div class="text-content">
            <h1>Welcome From Our Pastor</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <div class="tablet-cover">
            <span class="half-tablet content">
                <div class="content-area"></div>
            </span>
        </div>
    </section>

    <!-- Divider -->
    <section class="divider"><div class="spacer1"></div></section>

    <!-- Get Connected Section -->
    <section class="upcomingEvents">
        <h1>Upcoming Events</h1>
        
    </section>
</div>