@import (reference) "../../../variables.less";

.home {
    .main-carousel {
        height: calc(~"85vh - 131px");
        background: rgba(200,200,200,0.5);
        //.color3(background, 0.2);
        overflow: hidden;
        position: relative;
        .home-carousel {
            position: relative;
            height: 100%;
            .carousel-page {                                 
                height: 100%;                            
                                    
                .carousel-card { 
                    background: rgba(255,255,255,1);                                                                
                    display: flex;
                    justify-content: space-between;
                    padding: 30px;
                    max-height: calc(~"100% - 60px");
                    .video-container { 
                        //position: relative;
                        video { 
                            width: 100%; 
                            max-height: 100%;
                            &.bg-video {
                                display: block;
                                position: absolute;
                                object-fit: cover;
                                min-width: 100%;
                                min-height: 100%;
                                width: 100%;
                                height: 100%;
                                top: 0px;
                                bottom: 0px;
                                left: 0px;
                                right: 0px;
                            }
                        }
                    }
                    .img-container { 
                        width: 50%;
                        height: 100%;
                        overflow: hidden;
                        display: inline-block;
                        position: relative;
                        img { max-height: 100%; width: 100%; }
                    }
                    .card-content {
                        padding: 10px 10px 10px 30px;
                        width: 50%;
                        display: inline-block;
                        .content-title { font-weight: bold; font-size: 2.5rem; margin-bottom: 10px; }
                        .content-line {
                            &.h1 { font-size: 1.5rem; }
                            &.h2 { font-size: 1.1rem; }
                            &.p { font-size: 1rem; }
                            &.bold { font-weight: bold; }
                            &+.content-line { margin-top: 15px; }
                        }
                    }
                }  
                &.full { .carousel-card  {padding: 0px; } }
                &.card { padding: 40px 15% 10px; height: calc(~"100% - 50px");}                
            }               
        }
    }

    .getConnected {
        padding: 20px 5%;
        text-align: center;
        h1 { font-size: 3rem;}
        p { font-size: 1.2rem;}
        .cards-holder {
            display: flex;
            justify-content: center;
            flex-direction: row;
            padding: 10px 10%;
            .card {
                padding: 20px;
                width: 33.3%;
                .card-container {
                    background: rgba( 100,100,100,0.5);
                    height: 125px;
                    color:rgba(255,255,255,1);
                    position: relative;
                    .card-title { 
                        font-size: 1.5rem;
                        font-weight: bold;
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        transform: translateY(-50%);
                        text-align: center;
                    }
                }
            }
        }
    }
}