<div class="site-page our-service">
        <section class="title-card">
            <h1 class="font-title1">Service Information</h1>
            <div class="back-img">
                <div class="cover c3c2"></div>
            </div>
        </section>
        
        <section class="body-section serviceInfo notched-top">
            <div class="service-card">
                <div class="church-img"><img src="assets/images/tmpMedia/img3.jpg"></div>
                <div class="service-content">
                    <div class="content-info where-we-are">
                        <div class="info-txt">
                            <p>Come join us at Clinton A.M.E. Zion anytime,</p> 
                            <p>We are located at</p>
                        </div>
                        <div class="address">
                            <p>223 Elizabeth Avenue</p>
                            <p>Rockville, MD 20850</p>
                        </div>
                    </div>
                    <div class="content-info our-times">
                        <div class="info-txt">Sunday Services</div>
                        <div class="service-info">
                            <div class="title">Sunday School</div>
                            <div class="time">8:30am</div>
                        </div>
                        <div class="service-info">
                            <div class="title">Morning Worship Service</div>
                            <div class="time">10:00am</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>     
    </div>