<div class="cms-content inner-page admin">
        <div class="cms-container">        
            <h1 class="header-message"><i class="fas fa-users"></i> <span>Admin Console</span></h1>                  
    
            <div class="section admin-form">  
                <div class="user-search">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="User Search">
                        <span matPrefix><i class="fas fa-search"></i>&nbsp;</span>
                    </mat-form-field>
                </div>

                <mat-table #userTable [dataSource]="userDataStore">
                    <!-- Icon Column -->
                    <ng-container matColumnDef="userid">
                        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                        <mat-cell *matCellDef="let element">0</mat-cell>
                    </ng-container>

                    <!-- name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.firstname}} {{element.lastname}}</mat-cell>
                    </ng-container>
                    <!-- email Column -->
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
                    </ng-container>

                    <!-- Admin Column -->
                    <ng-container matColumnDef="admin">
                        <mat-header-cell *matHeaderCellDef>Admin?</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{(element.adminStatus ? 'Yes': 'No')}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>  
                <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>              
            </div>
        </div>
    </div>