<div class="cms-content home">
    <div class="cms-container">
        <div class="section welcome-message">
            <h1>Welcome to the Clinton A.M.E. Zion Site Manager</h1>
            <p>The new Clinton site manager will help to update, edit, and maintain any core content 
                components for the Clinton A.M.E. Zion website.  For any issues please site administrator {{ siteadmin }}</p>
        </div>

        <div class="section main-img">            
            <div class="img-container"><img src="assets/images/builder1.png"></div>
        </div>    
    </div>
</div>