.clinton-site {    
    font-family: 'Cabin Condensed', sans-serif;
    /*font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Montserrat', sans-serif;
    
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Homemade Apple', cursive;   
    font-family: 'Just Another Hand', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
    */
}

.body-container {
    padding-top: 134px;
    min-height: 100vh;
}
